<template name="footer">
    <footer class="row">
        <div class="twelve columns">
            <hr/>
            <div class="row">
                <div class="six columns">
                    <p>&copy; Copyright no one at all. Go to town.</p>
                </div>
                <div class="six columns">
                    <ul class="link-list right">
                        <li><a href="https://github.com/jperl/purdue-course-boilerplate" target="_blank" c>Fork This
                            Site</a></li>
                        <li><a href="https://twitter.com/jon_perl" target="_blank">My Twitter</a></li>
                        <li><a href="http://docs.meteor.com" target="_blank">Meteor Docs</a></li>
                        <li><a href="http://foundation.zurb.com" target="_blank">Built with Zurb</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>