<template name="front">
    {{>top}}

    <!-- Main Content Section -->
    <div class="row">
        <div class="six columns">
            <div class="bannerVideo">
                <iframe src="http://www.youtube.com/embed/Y5nLfrYWrZ0?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="panel">
                <h5><a href="http://www.linkedin.com/in/jsperl/" target="_blank">Who is Jon Perl?</a></h5>
            </div>
        </div>

        <div class="six columns">

            <div class="panel">
                <h4>Web & Mobile Startups</h4>
                <h5 class="subheader">Utilize the latest web and mobile technologies to build a <a
                        href="http://www.slideshare.net/startuplessonslearned/minimum-viable-product" target="_blank">minimally
                    viable product</a></h5>
            </div>

            <div class="row">
                <div class="six mobile-two columns">
                    <div class="panel">
                        <h5>Meteor</h5>
                        <h6 class="subheader">Build top-quality web apps in a fraction of the time</h6>
                        <a href="http://www.meteor.com" target="_blank" class="small button">Check it out</a>
                    </div>
                </div>

                <div class="six mobile-two columns">
                    <div class="panel">
                        <h5>Responsive Design</h5>
                        <h6 class="subheader">Design applications to work in all form factors (phone / tablet /
                            desktop)</h6>
                        <a href="http://blog.teamtreehouse.com/beginners-guide-to-responsive-web-design" target="_blank"
                           class="small button">Guide</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Summary Panel -->
    <div class="row">
        <div class="twelve columns">

            <div class="panel">
                <h4>About the Course</h4>

                <p>Success in a tech startup has two ingredients: a product which adds significant value + traction.
                    This class will help get you from an idea to a product so you can start to get traction. You will
                    get strategy advice on your ideas, utilize the latest web and mobile technologies, and be matched up
                    with other talented individuals to build a product. You will retain all rights to software you created in this class (it will not be
                    owned by Purdue). This will be a two credit hour pass/fail course. If you make it into the class I
                    am confident you will pass.
                </p>
            </div>

        </div>
    </div>

    <!-- Call to Action Panel -->
    <div class="row">
        <div class="twelve columns">

            <div class="panel">
                <h4>Apply for the course</h4>

                <div class="row">
                    <div class="nine columns">
                        <p>I am limiting this course to passionate and talented developers to ensure teams are
                            effective. I will only offer the class if I can approve a minimum of 6 people, the maximum
                            will be somewhere between 9-12 people. Apply by signing in with your github account and filling
                            out a brief survey.</p>
                    </div>
                    <div class="three columns">
                        <a id="apply" href="#" class="radius button right">Apply</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{>footer}}
</template>