<template name="front">
{{>top}}

<!-- Main Content Section -->
<div class="row">
    <div class="six columns">
        <div class="bannerVideo">
            <iframe src="http://www.youtube.com/embed/Y5nLfrYWrZ0?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="panel">
            <h5><a href="http://www.linkedin.com/in/jsperl/" target="_blank">Who is Jon Perl?</a></h5>
        </div>
    </div>

    <div class="six columns">

        <div class="panel">
            <h4>Web & Mobile Startups</h4>
            <h5 class="subheader">Utilize the latest web and mobile technologies to build a <a
                    href="http://www.slideshare.net/startuplessonslearned/minimum-viable-product" target="_blank">minimally
                viable product</a></h5>
        </div>

        <div class="row">
            <div class="six mobile-two columns">
                <div class="panel">
                    <h5>Meteor</h5>
                    <h6 class="subheader">Build top-quality web apps in a fraction of the time</h6>
                    <a href="http://www.meteor.com" target="_blank" class="small button">Check it out</a>
                </div>
            </div>

            <div class="six mobile-two columns">
                <div class="panel">
                    <h5>Responsive Design</h5>
                    <h6 class="subheader">Design applications to work in all form factors (phone / tablet /
                        desktop)</h6>
                    <a href="http://blog.teamtreehouse.com/beginners-guide-to-responsive-web-design" target="_blank"
                       class="small button">Guide</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- About the Course -->
<div class="row">
    <div class="twelve columns">

        <div class="panel">
            <h4>About the Course</h4>

            <p>Success in a tech startup has two ingredients: a product which adds significant value + traction.
                This class will help get you from an idea to a product so you can start to get traction. You will
                get strategy advice on your ideas, utilize the latest web and mobile technologies, and be matched up
                with other talented individuals to build a product. You will retain all rights to software you
                created in this class (it will not be owned by Purdue). This will be a two credit hour pass/fail course.
            </p>
            </p>
        </div>

    </div>
</div>

<!-- Apply for the Course -->
<div class="row">
    <div class="twelve columns">

        <div class="panel">
            <h4>Apply for the course</h4>

            <div class="row">
                <div class="nine columns">
                    <p>I am limiting this course to passionate and talented developers to ensure teams are
                        effective. I will only offer the class if I can approve a minimum of 6 people, the maximum
                        will be somewhere between 9-12 people. Apply by signing in with your github account and
                        filling out a brief survey.</p>
                </div>
                <div class="three columns">
                    <a id="apply" href="#" class="radius button right">Apply</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Frequently Asked Questions -->
<div class="row">
    <div class="twelve columns" style="float:left;">
        <div class="panel">
            <h2 title="Frequently Asked Questions">F.A.Q.</h2>

            <ol class="faqs">
                <li><a href="#schedule">When is the class?</a></li>
                <li><a href="#eligibility">Do I have to be a CS student to be eligible?</a></li>
                <li><a href="#prerequisites">What are the prerequisites?</a></li>
                <li><a href="#idea">Do I need an idea to apply?</a></li>
                <li><a href="#start-now">How can I get started now?</a></li>
                <li><a href="#due-date">When is the application due?</a></li>
                <li><a href="#time">How much time will I spend each week?</a></li>
                <li><a href="#credit">Do I receive credit?</a></li>
                <li><a href="#feedback">Where can I ask more questions/share feedback?</a></li>
            </ol>

            <div id="schedule" class="support-spacer"></div>
            <div class="faq">
                <h4>When is the class?</h4>

                <p>The class starts Fall 2013 and will be from 6:30 pm - 8:30 pm on Thursdays.
                </p>
            </div>

            <div id="eligibility" class="support-spacer"></div>
            <div class="faq">
                <h4>Do I have to be an CS student at Purdue?</h4>

                <p>No but you must be able to contribute to building the application, see <a href="#prerequisites">prerequisites</a>.
                </p>

                <p>I will be accepting the top 12 undergraduate students along with any exceptional graduate,
                    faculty, or community members and merge them into teams.
                </p>
            </div>

            <div id="prerequisites" class="support-spacer"></div>
            <div class="faq">
                <h4>What are the prerequisites?</h4>

                <p>You must be able to demonstrate that you have enough HTML5 and Javascript experience to make it
                    through the <a href="http://www.codecademy.com/tracks/web" target="_blank">web fundamentals</a>,
                    <a href="http://www.codecademy.com/tracks/jquery" target="_blank">jquery</a>, and <a
                            href="http://www.codecademy.com/tracks/javascript" target="_blank">javascript</a>
                    codecademy tracks.
                </p>

                <p>Top candidates will have projects that show their ability to learn technologies outside of the
                    classroom.</p>
            </div>

            <div id="idea" class="support-spacer"></div>
            <div class="faq">
                <h4>Do I need an idea to apply?</h4>

                <p>No, it is unlikely you will even be working on the idea you apply with. Ideas will have little impact
                    on who gets into the class, technical ability is the most important factor.
                </p>
            </div>

            <div id="start-now" class="support-spacer"></div>
            <div class="faq">
                <h4>How can I get started now?</h4>

                <p>You are the kind of person we are looking for. I have already started to connect students so they
                    can start building things, so don't wait to apply.
                </p>

                <p>Also feel free to touch up on your <a href="#prerequisites">technical skills</a> and get started with
                    <a href="http://www.meteor.com" target="_blank">meteor</a>.</p>
            </div>

            <div id="due-date" class="support-spacer"></div>
            <div class="faq">
                <h4>When is the application due?</h4>

                <p>The application will close sometime in the summer (July?) and you can update it anytime until then.
                    Don't wait to apply because <a href="#start-now">teams are already forming</a>.</p>
            </div>

            <div id="time" class="support-spacer"></div>
            <div class="faq">
                <h4>How much time will I spend each week?</h4>

                <p>Passionate people spend all of their free time on their projects. I am looking for passionate people.
                </p>
            </div>

            <div id="credit" class="support-spacer"></div>
            <div class="faq">
                <h4>Do I receive credit?</h4>

                <p>If you are an undergraduate student the class counts as a 2 credit hour CS elective.
                    However that should not be your incentive because the out of class commitment is going to be
                    extreme.
                </p>
            </div>

            <div id="feedback" class="support-spacer"></div>
            <div class="faq">
                <h4>How can I ask more questions/share feedback?</h4>

                <p>If you have any questions or feedback, contact me on twitter (<a
                        href="https://twitter.com/jon_perl">@jon_perl</a>),
                    github (<a href="https://github.com/jperl">@jperl</a>)
                    or by email (<a href="mailto:perl.jonathan@gmail.com">perl.jonathan@gmail.com</a>).
                </p>
            </div>
        </div>

    </div>
</div>

{{>footer}}
</template>